<div class="container mt-5" >

 <!-- <div class="card"  style="background-image: url('../../assets/eating-fused-battery1.jpg')">  -->
    <div class="card bkground" >
    <div class="card-body" >
        <div class="row">
            <div class="col-sm-12">
                <div class="myfonts"  style="color:white">Fused Button Battery</div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-sm-4">
                <div ></div>
            </div>
            <div class="col-sm-8">
                <div class="myfonts"  style="color:white">Registry</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <div class="span" style="height: 300px"></div>
            </div>
        </div>
    </div>
</div>

