<div class="container mt-5">
  <form [formGroup]="registerUserForm" (ngSubmit)="sendUp()" autocomplete="off">
    <h2 class="text-center text-secondary">Register new user</h2>
    <hr />

    <app-text-input
      [formControl]="$any(registerUserForm.controls['KnownAs'])"
      [label]="'User name'"
      [type]="'text'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerUserForm.controls['password'])"
      [label]="'Password'"
      [type]="'password'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerUserForm.controls['confirmPassword'])"
      [label]="'ConfirmPassword'"
      [type]="'password'"
    ></app-text-input>

    <div class="mb-3">
      <label style="margin-right: 20px">Gender</label>
      <label class="form-check-label" style="margin-right: 10px">
        <input
          type="radio"
          class="form-check-input"
          value="male"
          formControlName="Gender"
        />male</label
      >
      <label class="form-check-label">
        <input
          type="radio"
          class="form-check-input"
          value="female"
          formControlName="Gender"
        />female</label
      >
    </div>
    <div class="mb-3 form-floating">
      <style>
        select:invalid {
          color: gray;
        }
      </style>
      <select
        name="dis01"
        class="form-control"
        formControlName="Country"
        class="form-control"
        placeholder="hallo"
        required
      >
        <option value="" disabled selected hidden>Select country</option>
        <option *ngFor="let an of countries" [value]="an.Value">
          {{ an.Description }}
        </option>
      </select>
    </div>

    <app-text-input
      [formControl]="$any(registerUserForm.controls['Email'])"
      [label]="'Email'"
      [type]="'text'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerUserForm.controls['Mobile'])"
      [label]="'Mobile'"
      [type]="'text'"
    ></app-text-input>

    <div>
      <button
        class="btn btn-secondary me-2"
        type="submit"
        [disabled]="!registerUserForm.valid"
      >
        Save
      </button>
    </div>
  </form>
</div>

<!-- <p>Form value: {{ registerUserForm.value | json }}</p>
<p>Form status: {{ registerUserForm.status | json }}</p> -->
