<div class="container mt-5">
<div class="card">
  <div class="card-header"> <h2 class="text-center text-secondary">Upload a swallowed battery case</h2></div>
  <div class="card-body bkground">


  <form [formGroup]="registerCaseForm" (ngSubmit)="sendUp()" autocomplete="off">
    <div class="mb-3">
      <label style="margin-right: 20px">Gender</label>
      <label class="form-check-label" style="margin-right: 10px">
        <input
          type="radio"
          class="form-check-input"
          value="male"
          formControlName="Gender"
        />male</label
      >
      <label class="form-check-label">
        <input
          type="radio"
          class="form-check-input"
          value="female"
          formControlName="Gender"
        />female</label
      >
    </div>
    <div class="mb-3 form-floating">
      <style>select:invalid {color:gray}</style>
      <select name="dis01" class="form-control" formControlName="Country" class="form-control" placeholder="hallo" required>
        <option value = "" disabled selected hidden>Select country</option>
        <option *ngFor="let an of countries" [value]="an.Value">
          {{ an.Description }}
        </option>
      </select>
    </div>

   
    
  <!--   <app-text-input
      [formControl]="$any(registerForm.controls['Country'])"
      [label]="'Country'"
    ></app-text-input> -->

    <app-date-picker
      [formControl]="$any(registerCaseForm.controls['DateOfBirth'])"
      [label]="'DateOfBirth'"
    ></app-date-picker>

    <div class="mb-3">
      <label style="margin-right: 20px">Battery Type</label>
      <label class="form-check-label" style="margin-right: 10px">
        <input
          type="radio"
          class="form-check-input"
          value="regular"
          formControlName="BatteryType"
        />regular</label
      >
      <label class="form-check-label">
        <input
          type="radio"
          class="form-check-input"
          value="fused button battery"
          formControlName="BatteryType"
        />fused button</label
      >
    </div>
    
    <app-text-input
    [formControl]="$any(registerCaseForm.controls['Lesion'])"
    [label]="'Lesion'"
  ></app-text-input>
    
  <div class="mb-3 form-floating">
    <select name="dis01" class="form-control" formControlName="Outcomes" class="form-control"  required>
      <option *ngFor="let an of Outcomes_array" [value]="an.Value">
        {{ an.Description }}
      </option>
    </select>
  </div>
  <button 
  class="btn btn-secondary me-2" 
  type="submit" 
  [disabled]="!registerCaseForm.valid">Save</button>
   

  </form>

</div> 
<div class="card-footer">
 
  
</div>
</div>
</div>
