<div class="container">
    <div class="row">
        <div class="col-sm-6"><h5><span >Number</span></h5></div>
        <div class="col-sm-6">{{cr?.CaseReportNo}}</div>
    </div>
    <div class="row">
        <div class="col-sm-6"><h5><span >Gender</span></h5></div>
        <div class="col-sm-6">{{cr?.Gender}}</div>
    </div>
     <div class="row">
        <div class="col-sm-6"><h5><span >KnownAs</span></h5></div>
        <div class="col-sm-6">{{cr?.KnownAs}}</div>
    </div>
     <div class="row">
        <div class="col-sm-6"><h5><span >DOB</span></h5></div>
        <div class="col-sm-6">{{cr?.DateOfBirth}}</div>
    </div>
</div>


